* {
    margin:0;
    padding:0;
    text-decoration: none;
}
body {
    background-color:white;
    font:normal normal 16px/1.4 Times, Serif;
    color:black;
    height: 100%; 
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
#scroll-area {
    overflow:hidden;
}
#scroll-area div {
    width:2377px;
    position:relative;
}

.artifactView {
  float: left;
  display: inline-block;
  width: auto;
  padding-top: 15em;
  height: 64vh;
}

#rooms {
  padding: 0;
  margin:0;
}

.roomView {
  float: left;
  text-align: center;
  display: inline-block;
  width: 25%;
  padding-top: 15em;
  height: 64vh;
  transition: all .4s ease;
}

@media screen and (max-width: 480px) {
  .roomView {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .roomView {
    width: 50%;
  }
}


.roomView h1 {
  font-size: 2em;
  color: #fff;
  font-family: 'Lora', serif;
  text-align: center;
}
.roomView p {
  text-align: center;
  color: #fff;
  padding: 3em;
  padding-top: 1em;
}

.roomsNav a {
  position: relative;
  top: 25.2em;
  margin-left: 120px;
  display: inline;
  text-align: center;
  color: #fff;
  padding: .5em .8em;
  border-radius: 25px;
  border: 1px solid #fff;
}

.roomsNav a:nth-of-type(2){
  margin-left: 240px;
}

.roomsNav a:nth-of-type(3){
  margin-left: 250px;
}

.roomsNav a:nth-of-type(4){
  margin-left: 230px;
}

.roomsNav a:hover {
  background: #fff;
  color: #222;
}

.roomsNav a:focus {
  background: #fff;
  color: #222;
}

.roomView:hover {
  opacity: .8;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.roomView:first-of-type {
  background: radial-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .1) ) 
  ,url(../assets/imgs/room-1.jpg)no-repeat;
  background-position: center;
}
.roomView:nth-of-type(2) {
  background: radial-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .1) ) 
  ,url(../assets/imgs/room-2.jpg) no-repeat;
  background-position: center; 
}
.roomView:nth-of-type(3) {
  background: radial-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .1) ) 
  ,url(../assets/imgs/room-3.jpg) no-repeat;
}
.roomView:nth-of-type(4) {
  background: url(../assets/imgs/room-4.jpg) no-repeat;
  background-position: top; 
}

@media screen and (max-width: 480px) {
  .artifactView {
    height: 100vh;
  }
}

.artifactView h1 {
  font-size: 2em;
  color: #fff;
  font-family: 'Lora', serif;
  text-align: center;
}
.artifactView h3::after {
  height: 1px;
  width: 5px;
  padding: 2px;
  background: #fff;
}
.artifactView p {
  text-align: center;
  color: #fff;
  padding: 3em;
  padding-top: 1em;
  width: 300px;
}

.artifactView a {
  position: relative;
  left: 32%;
  text-align: center;
  display: block;
  color: #fff;
  width: 100px;
  padding: .5em .8em;
  border-radius: 25px;
  border: 1px solid #fff;
}

.artifactView a:hover {
  background: #fff;
  color: #222;
}

.artifactView:hover {
  opacity: .8;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.artifactView:first-of-type {
  background: url(../assets/imgs/img-1.jpg) no-repeat;
}
.artifactView:nth-of-type(2) {
  background: url(../assets/imgs/img-2.jpg) no-repeat;
}
.artifactView:nth-of-type(3) {
  background: url(../assets/imgs/artifact-3.jpg) no-repeat;
}
.artifactView:nth-of-type(4) {
  background: url(../assets/imgs/img-4.jpg) no-repeat;
}
.artifactView:nth-of-type(5) {
  background: url(../assets/imgs/img-1.jpg) no-repeat;
}
.artifactView:nth-of-type(6) {
  background: url(../assets/imgs/img-2.jpg) no-repeat;
}
.artifactView:nth-of-type(7) {
  background: url(../assets/imgs/img-3.jpg) no-repeat;
}
.artifactView:nth-of-type(8) {
  background: url(../assets/imgs/img-4.jpg) no-repeat;
}

#innerFrame img {
  position: relative;
  float: left;
  top: 4em;
  left: 50px;
  width: 40%;
  border: 23px solid #fff;
  -webkit-box-shadow: 0px 14px 28px 9px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 14px 28px 9px rgba(0,0,0,0.15);
box-shadow: 0px 14px 28px 9px rgba(0,0,0,0.15);
}


#info {
  position: relative;
  left: 5em;
  top: 6em;
  width: 40%;
  float: left;
  font-size: 1.3em;
  color: #183269;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  letter-spacing: 5px;
  color: #222;
  text-transform: uppercase;
}

.info-text {
  position: relative;
  top: 1em;
  font-family: 'Lora', serif;
  font-weight: lighter;
}

.artifact {
  background-color: #efefef;
}

.nextBtn {
    font-size: 18px;
    position: relative; 
    top: 4em;
    color: #222;
    padding: .5em 1em;
    float: right;
    border: 1px solid #222;  
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease
}

.nextBtn:hover {
  background-color: #222;
  border:1px solid transparent;
  color: #fff;
}

.navBtn {
  position: relative; 
  top: 2em;
  left: 2.8em;
  margin-bottom: 1em;
  padding: .5em 1em;
  font-size: 18px;
  color: #222;
  border: 1px solid #222;  
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease
}

.navBtn:hover {
  background-color: #222;
  border:1px solid transparent;
  color: #fff;
}

.roomsNav {
  position: fixed;
  z-index: 1000;
}

.Btn {
  position: relative;
  top: -5em;
  bottom: 0;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  margin-bottom: 0;
  margin-left: 10px;
  border-radius: 100%;
  padding: 1em;
  cursor: pointer;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 10005;
}

.Btn:hover {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;
  position: relative;
  top: 2.4em;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  cursor: pointer;
}

.rating-stars ul > li.star > i.fa { 
  color:#ccc;
}

.rating-stars ul > li.star.hover > i.fa {
  color:#183269;
}


.rating-stars ul > li.star.selected > i.fa {
  color:#183269;
}